beautifulsoup4==4.11.1
boto3==1.24.33
botocore==1.27.33
et-xmlfile==1.1.0
jmespath==1.0.1
lxml==4.9.1
numpy==1.23.1
openpyxl==3.0.10
pandas==1.4.3
python-dateutil==2.8.2
pytz==2022.1
s3transfer==0.6.0
six==1.16.0
soupsieve==2.3.2.post1
urllib3==1.26.10
